@charset "utf-8";
/* CSS Document */


h2 {
	font-size: 1.6em;
	padding-bottom: 0.5em;
	font-weight: bold;
}
body {
	width: 85%;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	font-size: 62.5%;
}

h1 {
    font-size: 2em;
    padding-bottom: 0.5em;
    font-weight: bold;
}
p {
	font-size: 1.2em;
	padding-bottom: 0.5em;
}
h3 {
    font-size: 1.4em;
    padding-bottom: 0.5em;
    font-weight: bold;
}
#logo img {
	float: right;
}
header {
	padding-right: 1px;
	padding-left: 1px;
	border-color: #01ABDF;
	border-width: thin thin 0;
	border-style: solid;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 1.2em;
	overflow-x: auto;
	overflow-y: auto;
}

#ops {
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	margin-right: 2%;
	margin-left: 2%;
	border-style: solid;
	border-width: thin;
	border-color: #F29400 #01ABDF;
	font-size: 1.2em;
	overflow-x: auto;
	overflow-y: auto;
}
footer {
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	margin-right: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	border-width: thin;
	border-right-style: solid;
	border-bottom-style: solid;
	border-color: #01ABDF;
	font-size: 1.2em;
	font-style: italic;
	overflow-x: auto;
	overflow-y: auto;
	border-left-style: solid;
}
.sisennyt {
	padding-left: 2em;
}
    a:link {
	color: #333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #666;
}
a:active {
	text-decoration: none;
}


#ops .oli {
	padding-left: 3em;
	padding-bottom: 0.5em;
	font-size: 1.2em;
	list-style-type: decimal;
}
#ops ol {
    padding-left: 3em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    list-style-type: decimal;
}
#ops ol li {
    padding-bottom: 0.5em;
}
