@charset "utf-8";
/* CSS Document */

#vasen {
    float: left;
    width: 60.8034%;
}
#oikea {
    float: right;
    width: 37.1966%;
}
article {
    font-size: 1.2em;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
body {
    background-color: rgba(245,245,245,1.00);
    color: rgba(0,0,0,1.00);
    font-size: 100%;
}
html {
    font-size: 62.5%;
}
